[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gghdx"]
	path = gghdx
	url = https://github.com/ocha-dap/gghdx
[submodule "idmc"]
	path = idmc
	url = https://github.com/ocha-dap/idmc
